<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<root>
			<level value="All" />
			<appender-ref ref="root" />
		</root>
		<logger name="Analyze" additivity="false">
			<appender-ref ref="Analyze" />
		</logger>
		<logger name="Measure" additivity="false">
			<appender-ref ref="Measure" />
		</logger>
		
		<appender name="Analyze" type="log4net.Appender.RollingFileAppender">
			<file value="c:/eventlog/" />
			<param name="DatePattern" value="'eventlog-a-'yyMMdd'.txt'" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<appendToFile value="true" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] - [DWSMARTICT] %message %newline" />
			</layout>
		</appender>
		
		<appender name="Measure" type="log4net.Appender.RollingFileAppender">
			<file value="c:/eventlog/" />
			<param name="DatePattern" value="'eventlog-m-'yyMMdd'.txt'" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<appendToFile value="true" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] - [DWSMARTICT] %message %newline" />
			</layout>
		</appender>
	</log4net>
</configuration>